body {
    margin: 0;
    font-family: arial;

}
.wrapper {
    display: grid;
    grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    grid-template-columns: minmax(auto, auto) 1fr;
    grid-template-rows: 100px auto 200px;
    justify-content: center;
    width: 100vw;
    background-color: #96d425;
    text-align: center;
}

.header {
    grid-area: header;
    height: 30px;
    opacity: 0;
}

.main {
    grid-area: main;
    grid-column: 2;
    color: white;
    font-weight: 100;
}
.main h1 {
    margin-top: 80px;
    font-weight: bold;
    font-size: 8em;
    margin-bottom: 50px;
}
.main hr {
    width: 150px;
    border: .75em solid white;
    margin-bottom: 70px;
}
.main h2 {
    margin-bottom: 240px;
    font-size: 4em;
    font-weight: 100;
}

.footer {
    display: grid;
    grid-area: footer;
    background: rgba(0, 0, 0, 0.55);

    color: white;
    text-align: center;
    align-items: center;
}
.footer h1 a {
    font-size: 2em;
    font-weight: 100;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}


@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    /*.footer  { order: 4; }*/
}

