body {
    margin: 0;
    font-family: arial;

}
.wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: minmax(150px, auto) 1fr;
    grid-template-rows: 100px 600px 200px;
    justify-content: center;
    width: 100vw;

    background: url("https://i.dailymail.co.uk/i/pix/2017/09/29/12/44DB1FD800000578-4933120-image-a-70_1506683560276.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*grid-template-rows: 50px 700px 250px;*/

}

.header {
    grid-area: header;
    height: 30px;
    opacity: 0;
}

.main {
    grid-area: main;
    grid-column: 2;
    color: white;
    font-size: 2em;
    font-weight: 100;
}
.main h1 {
    margin-top: 100px;
    font-weight: bold;
}

.footer {
    display: grid;
    grid-area: footer;
    background: rgba(0, 0, 0, 0.55);

    color: white;
    text-align: center;
    align-items: center;
}
.footer h1 a {
    font-size: 2em;
    font-weight: 100;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}


@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    /*.footer  { order: 4; }*/
}

