
body {
    margin: 0px;

}
.slideThree_wrapper {
    display: grid;
    grid-template-areas:
            "header header header"
            "content content content"
            "footer footer footer";
    grid-template-rows: 50px 700px 250px;
    /*grid-template-columns: 250px 500px 250px;*/
    grid-template-columns: minmax(50px, auto) 1fr;
    font-family: arial;
    justify-content: center;
    width: 100vw;
}

/*HEADER AREA START*/
.slideThree_HEAD {
    grid-area: header;
    background: #5d5f55;
    color: white;
}
.slideThree_HEAD h5 {
    font-weight: 100;
}
/*HEADER AREA END*/

/****** MAIN CONTENT AREA START*******/

.slideThree_BODY {
    grid-area: content;
    align-self: center;
    /*text-align: center;*/

}
.slideThree_BODY_title {
    color: #96d425;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    height: 120px;
    margin-bottom: 30px;
    border-bottom: 2px solid lightgrey;
}
.slideThree_BODY_keypad {
    display: grid;
    grid-template-columns: repeat(13, 65px);
    grid-gap: 10px;
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom: 2px solid lightgrey;
    justify-content: center;
}
.keypad_btn{
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid lightgrey;
    color: #8c8c8c;
    text-align: center;

}
.displayBox {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid lightgrey;
    color: #8c8c8c;
}
.result {
    text-align: center;
    height: 100%;

}
.btn1 {
    grid-column: 1;
    grid-row: 3;
}
.btn2 {
    grid-column: 2;
    grid-row: 3;
}
.btn3 {
    grid-column: 3;
    grid-row: 3;
}
.btn4 {
    grid-column: 1;
    grid-row: 2;
}
.btn5 {
    grid-column: 2;
    grid-row: 2;
}
.btn6 {
    grid-column: 3;
    grid-row: 2;
}
.btn7 {
    grid-column: 1;
    grid-row: 1;
}
.btn8 {
    grid-column: 2;
    grid-row: 1;
}
.btn9 {
    grid-column: 3;
    grid-row: 1;
}
.btn0 {
    grid-column: 1;
    grid-row: 4;
}
.btnDelete {
    grid-column: 2 / 4;
    grid-row: 4;
}
.displayBox {
    grid-column: 4 / 10;
    grid-row: 1 / 5;
    background-color: #ffffff;
    margin-left: 10px;
}
.result {
    font-size: 3em;
    font-weight: 600;
    color: #8c8c8c;
    vertical-align: center;
}
.btn_header {
    grid-column: 10/14;
    grid-row: 3;
    font-size: 1.55em;
    text-align: center;
    align-self: center;
    font-weight: 400;
    color: #8c8c8c;
}
.yes_btn {
    grid-column: 10 / 12;
    grid-row: 4;
    background: #96d425;
    border-radius: 10px;
    border: 3px solid #96d425;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #527415;
}
.no_btn {
    grid-column: 12 / 14;
    grid-row: 4;
    background: #96d425;
    border-radius: 10px;
    border: 3px solid #96d425;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #527415;
}
/****** MAIN CONTENT AREA END*******/


/*FOOTER AREA START*/
.slideTwo_footer {
    grid-area: footer;
    display: grid;
    /*grid-template-columns: auto 300px auto 315px;*/
    background: rgb(83, 83, 83);
    font-weight: 100;
    color: white;
    align-items: center;
    font-family: arial;
    /*width: 100vw;*/
}
#back {
    grid-column: 2;
}
#back a {
    text-decoration: none;
    color: white;
}
#next {
    grid-column: 3;
    text-decoration: none;
}
#next a {
    text-decoration: none;
    color: white;
}
.slideTwo_footer button {
    width: 200px;
    height: 70px;
    background: #96d425;
    border-color: #96d425;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}
.slideTwo_footer b
/*FOOTER AREA END*/