body {
    margin: 0;
    font-family: Arial;
}
.wrapper {
    display: grid;
    grid-template-columns: minmax(40px, auto) 1fr;
    grid-template-rows: 50px 600px 500px;
}

.header {
    background: #96d425;
    grid-row: 1;

}
.header h5 {
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 200;
    margin: 0;
    padding-top: 17px;

}


.body {
    grid-row: 2;
    display: grid;
    grid-template-columns: 200px 500px;
    grid-template-rows: 75px 140px 140px 125px;
}
.body_text {
    grid-column: 2 / 3;
}
.body_header {
    grid-column: 2 / 4;
    grid-row: 2;

}
.body_header h1 {
    font-size: 3.75em;
    color: #96d425;
    font-weight: 600;
}
.body_pie {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;

}
.body_pie img {
    height: 300px;
    width: 300px;
}
.body_text {
    grid-column: 3;
    grid-row: 3;
    font-size: 2em;
    font-weight: 500;
    color: #8a8b8a;
}

/*FOOTER START*/
.oneBtn_footer {
    display: grid;
    background: #535353;
    grid-row: 3;
    height: 150px;
    font-weight: 100;
    color: white;
    text-align: center;
    align-items: center;
}

.slideTwo_footer a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.slideTwo_footer button {
    grid-column-start: 2;
    width: 200px;
    height: 50px;
    background: #96d425;
    border-color: #96d425;
    border-radius: 8px;
    /*justify-self: end;*/
    margin-right: 100px;
}
