body {
    margin: 0;
    font-family: arial;

}
.wrapper {
    display: grid;
    grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    grid-template-columns: minmax(auto, auto) 1fr;
    grid-template-rows: 10px auto 200px;
    justify-content: center;
    width: 100vw;
    background-color: #ffffff;
    text-align: center;
}

.header {
    grid-area: header;
    height: 30px;
    opacity: 0;
}

.main {
    grid-area: main;
    grid-column: 2;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 50px 260px 50px;
    color: #5d5f55;
    font-weight: 100;
}
.main p {
    grid-column: 2;
    margin-top: 90px;
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 50px;
    line-height: 70px;
}
.main p span {
    color: #96d426;

}

.footer {
    display: grid;
    grid-area: footer;
    grid-row: 4;
    grid-template-columns: 200px auto 200px 240px;
    grid-template-row: 10px auto 10px;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    text-align: center;
}
.footer button {
    grid-column: 3;
    grid-row: 2;
    margin: 70px 5px;
    border-radius: 10px;
    background-color: #96d426;
    border: 1px solid #96d426 ;
}
.footer button a {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}


/*@media all and (min-width: 600px) {*/
    /*.aside { flex: 1 auto; }*/
/*}*/

/*@media all and (min-width: 800px) {*/
    /*.main    { flex: 3 0px; }*/
    /*.aside-1 { order: 1; }*/
    /*.main    { order: 2; }*/
    /*.aside-2 { order: 3; }*/
    /*!*.footer  { order: 4; }*!*/
/*}*/

