body {
    margin: 0;
    font-family: arial;

}
.questions_wrapper {
    display: grid;
    grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    grid-template-columns: minmax(250px, auto) 1fr;
    grid-template-rows: 100px 600px 200px;
    justify-content: center;
    width: 100vw;
}
.questions_header {
    grid-area: header;
    height: 30px;
    background-color: #96d425;
}
.questions_header h5 {
    font-weight: 100;
    margin: 0;
    padding-top: 9px;
}


.questions_content {
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: 8;
    display: grid;
    grid-template-columns: 500px 200px 200px;
    grid-template-rows: repeat(5, 100px);
    /*height: 400px;*/
}
.questions_main {
    border-bottom: lightgrey solid 1px ;
    grid-row: 1;
}
.questions_main h1 {
    color: #96d425;
    font-size: 3em;
    margin-bottom: 40px;
}



.question_one {
    border-bottom: lightgrey solid 1px ;
    grid-row: 2;
}
.question_one .yes_btn {
    grid-column: 2;
    grid-row: 2;
}
.question_two {
    border-bottom: lightgrey solid 1px ;
    grid-row: 3;
    grid-columns: 1;
}
.question_three {
    border-bottom: lightgrey solid 1px ;
    grid-row: 4;
}

.yes_btn {
    /*grid-column: 2;*/
    /*width: 100px;*/
    /*height: 40px;*/
    background: #96d425;
    border-color: #96d425;
    border-radius: 8px;
    /*justify-self: end;*/
    /*margin-right: 100px;*/
    font-size: .85em;
    font-weight: 600;
}
.no_btn {
    /*grid-column: 7 / 8;*/
    /*width: 100px;*/
    /*height: 40px;*/
    background: #96d425;
    border-color: #96d425;
    border-radius: 8px;
    /*justify-self: end;*/
    /*margin-right: 100px;*/
    font-size: .85em;
    font-weight: 600;
}

.slideTwo_footer {
    display: grid;
    grid-template-columns: 150px 50% 150px;
    grid-area: footer;
    background: rgba(0, 0, 0, 0.55);
    height: 200px;
    /*align-self: end;*/
    font-weight: 100;
    color: white;
    text-align: center;
    align-items: center;
}
.slideTwo_footer a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.slideTwo_footer button {
    display: grid;
    /*grid-column-start: 2;*/
    width: 200px;
    height: 50px;
    background: #96d425;
    border-color: #96d425;
    border-radius: 8px;
    /*justify-self: end;*/
    margin-right: 100px;
}
.backBtn {
    grid-column: 2;
}
.nextBtn {
    grid-column: 5;
    margin-right: 30px;
}